<a href="https://colab.research.google.com/github/matHoYoung/AI_18_JHY_section1/blob/main/AI_18_%EC%A0%95%ED%98%B8%EC%98%81_section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

정호영님은 게임 회사의 데이터 팀에 합류했습니다.

***다음 분기에 어떤 게임을 설계해야 할까***

라는 고민을 해결하기 위해, 기존의 데이터에 기반하여 인사이트를 얻고, 의사결정을 하고자 하는 것이 여러분의 목표입니다.



# 필수 조건

##다음 필수 조건은 전부 만족해야 2점을 받을 수 있습니다.

- 영상 길이 조건을 만족했는가?
 영상이 5분 ~ 10분 사이로 제작됨

- 지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답했는가?

 -지역은 어떻게 구분했는지 설명함

 -지역별로 선호하는 게임의 장르를 파악함

 -지역별로 선호하는 게임의 장르가 왜 같다고/다르다고 생각했는지를 설명함

- 연도별 게임의 트렌드가 있을까 라는 질문에 대답했는가?

 -트렌드는 어떤 것을 기준으로 파악했는지 설명함

 -연도별로 트렌드가 존재하는지 여부를 언급함

 -왜 존재한다/존재하지 않는다고 생각했는지 설명함

- 인기가 많은 게임에 대한 분석 및 시각화 프로세스가 포함되었는가?

 -인기가 많다는 것을 어떻게 정의했는지 설명함

 -해당 게임이 왜 인기가 많다고 생각했는지 설명함

 -시각화를 통해 무엇을 나타내고자 하는지를 고려하여 파라미터를 조정함 (제목, 축이름 필수, 그 외 파라미터는 선택사항)

 -해당 분석을 통해 어떤 인사이트를 도출할 수 있는지 설명함

- 다음 분기에 어떤 게임을 설계해야 하는지에 대한 결론이 제시되었는가?
 분석에 대한 결론이 영상에서 제시됨

# 추가 조건 (Advanced Goal)
## 다음 추가 조건은 1개 이상 만족 시 3점을 받을 수 있습니다.

-디테일한 시점 및 목표 설정이 문제 정의 과정에서 제시되었는가?

-도메인 지식을 활용하여 비지니스 인사이트를 도출하였는가?

-제공된 데이터셋 외에 추가 데이터를 사용하였는가?

-통계적 기법을 활용한 가설 검정을 진행하였는가?

-완성도 높은 시각화를 보여주었는가?

-가독성, 목적성이 잘 드러나는 시각화


ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

Name : 게임의 이름입니다.

Platform : 게임이 지원되는 플랫폼의 이름입니다.

Year : 게임이 출시된 연도입니다.

Genre : 게임의 장르입니다.

Publisher : 게임을 배급한 회사입니다.

NA_Sales : 북미지역에서의 출고량입니다.

EU_Sales : 유럽지역에서의 출고량입니다.

JP_Sales : 일본지역에서의 출고량입니다.

Other_Sales : 기타지역에서의 출고량입니다.

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [61]:
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (2).csv

In [62]:
game = pd.read_csv('vgames2.csv',index_col = 0)
game.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [63]:
game.shape

(16598, 9)

In [64]:
# 품질적 문제와 구조적 문제 확인하기.

In [65]:
# 품질적 문제 확인 
#중복값, 결측치, 부정확한 데이터 있는지 파악해보자.

In [66]:
#중복값은 1이므로 분석 결과에 큰 영향을 끼치지 않는 다고 판단, 1개의 중복 값 제거
game.duplicated().sum()
game = game.drop_duplicates()

In [67]:
# index 재정렬
game = game.reset_index(drop=True)

In [68]:
#각 컬럼별 결측치 확인하기. 
# Name 결측치 0 
game[game['Name'].isnull()]

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [69]:
game.isnull().sum()

Name             0
Platform         0
Year           270
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [70]:
# Year, Genre, Publisher 3가지 동시의 결측치 확인  0 
game[(game['Year'].isnull()) & (game['Genre'].isnull()) & (game['Publisher'].isnull())]

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [71]:
# Year, Genre 2가지 동시의 결측치 확인  0 
game[(game['Year'].isnull()) & (game['Genre'].isnull())]

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales]
Index: []

In [72]:
# Year, Publisher 2가지 동시의 결측치 확인  22
game_year_publisher = game[(game['Year'].isnull()) & (game['Publisher'].isnull())]
game_year_publisher

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
1879,Monster Hunter Frontier Online,PS3,NaN,Role-Playing,NaN,0,0,0.05,0
2070,World of Tanks,X360,NaN,Shooter,NaN,0,0.03,0,0
2970,Chou Soujuu Mecha MG,DS,NaN,Simulation,NaN,0,0,0.06,0
3184,Action Man-Operation Extreme,PS,NaN,Action,NaN,0.05,0.03,0,0.01
3533,B.L.U.E.: Legend of Water,PS,NaN,Adventure,NaN,0,0,0.04,0
3562,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0,0.41
3639,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0,0.01,0,0
4308,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,NaN,Adventure,NaN,0,0,0.02,0
6209,Atsumare! Power Pro Kun no DS Koushien,DS,NaN,Sports,NaN,0,0,0.1,0
6392,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0,0,0
8651,Sonic the Hedgehog,PS3,NaN,Platform,NaN,0,0.48,0,0
9683,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,NaN,Action,NaN,0.15,0.05,0.14,0.01
9876,Mario Tennis,3DS,NaN,Sports,NaN,0,0,0.02,0
10155,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,NaN,Action,NaN,0,0,0.27,0.01
11308,Triple Play 99,PS,NaN,Sports,NaN,0.81,0.55,0,0.1
11640,AKB1/48: Idol to Guam de Koishitara...,X360,NaN,Misc,NaN,0,0,0.01,0
13449,Bikkuriman Daijiten,DS,NaN,Misc,NaN,0,0,0.03,0
13765,Housekeeping,DS,NaN,Action,NaN,0,0,0.04,0
13922,Prinny: Can I Really Be The Hero? (US sales),PSP,NaN,Action,NaN,0.06,0,0,0
15668,Yu Yu Hakusho: Dark Tournament,PS2,NaN,Fighting,NaN,0.1,0.08,0,0.03
15804,Dream Dancer,DS,NaN,Misc,NaN,0.01,0,0,0
16129,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,NaN,Strategy,NaN,0,0,0.12,0

In [73]:
# Genre, Publisher 2가지 동시의 결측치 확인  0
game_Genre_publisher = game[(game['Genre'].isnull()) & (game['Publisher'].isnull())]
game_Genre_publisher.shape

(0, 9)

In [74]:
# 요구사항에 publisher는 없으므로 분석에 영향을 주지 않을 것이라 판단하여 삭제 처리. 
game = game.drop(['Publisher'], axis = 1)
game

,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008.0,Action,0.04,0,0,0
1,The Munchables,Wii,2009.0,Action,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010.0,Misc,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...
16592,Ice Age 2: The Meltdown,GC,2006.0,Platform,0.15,0.04,0,0.01
16593,Rainbow Islands: Revolution,PSP,2005.0,Action,0.01,0,0,0
16594,NBA 2K16,PS3,2015.0,Sports,0.44,0.19,0.03,0.13
16595,Toukiden: The Age of Demons,PSV,2013.0,Action,0.05,0.05,0.25,0.03
16596,The King of Fighters '95,PS,1996.0,Fighting,0,0,0.16,0.01

In [75]:
game.isnull().sum()

Name             0
Platform         0
Year           270
Genre           50
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [76]:
game['Year'].value_counts()

2009.0    1421
2008.0    1418
2010.0    1252
2007.0    1199
2011.0    1129
          ...
13.0         2
12.0         2
86.0         1
2020.0       1
94.0         1
Name: Year, Length: 62, dtype: int64

In [77]:
# 결측치 제거
game.dropna(subset=['Year','Genre'], inplace=True)
game.isnull().sum()

Name           0
Platform       0
Year           0
Genre          0
NA_Sales       0
EU_Sales       0
JP_Sales       0
Other_Sales    0
dtype: int64

In [82]:
#year 컬럼 조건에 맞게 올바른 값으로 대체하기 
game.Year = game.Year.astype(int).astype(str)
game.loc[game['Year'].astype(int)<=9, 'Year'] = '200' + game.loc[game['Year'].astype(int)<=9, 'Year'].astype(str)
game.loc[game['Year'].astype(int)<=23, 'Year'] = '20' + game.loc[game['Year'].astype(int)<=23, 'Year'].astype(str)
game.loc[game['Year'].astype(int)<=100, 'Year'] = '19' + game.loc[game['Year'].astype(int)<=100, 'Year'].astype(str)
game.Year = game.Year.astype(int)

In [86]:
# 품질적, 구조적 문제 완료 
game = game.reset_index(drop=True)
game

,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,0.04,0,0,0
1,The Munchables,Wii,2009,Action,0.17,0,0,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,0,0,0.02,0
3,Deal or No Deal: Special Edition,DS,2010,Misc,0.04,0,0,0
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,0.12,0.09,0,0.04
...,...,...,...,...,...,...,...,...
16272,Ice Age 2: The Meltdown,GC,2006,Platform,0.15,0.04,0,0.01
16273,Rainbow Islands: Revolution,PSP,2005,Action,0.01,0,0,0
16274,NBA 2K16,PS3,2015,Sports,0.44,0.19,0.03,0.13
16275,Toukiden: The Age of Demons,PSV,2013,Action,0.05,0.05,0.25,0.03
16276,The King of Fighters '95,PS,1996,Fighting,0,0,0.16,0.01

- 지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답했는가?

-지역은 어떻게 구분했는지 설명함

-지역별로 선호하는 게임의 장르를 파악함

-지역별로 선호하는 게임의 장르가 왜 같다고/다르다고 생각했는지를 설명함

In [88]:
# 요구 조건에 맞는 시각화 진행 
# 1. 지역별 선호하는 게임의 장르 파악 
game_Genre = game[['Genre','NA_Sales','EU_Sales','JP_Sales', 'Other_Sales']]
game_Genre

           Genre NA_Sales EU_Sales JP_Sales Other_Sales
0         Action     0.04        0        0           0
1         Action     0.17        0        0        0.01
2      Adventure        0        0     0.02           0
3           Misc     0.04        0        0           0
4       Platform     0.12     0.09        0        0.04
...          ...      ...      ...      ...         ...
16272   Platform     0.15     0.04        0        0.01
16273     Action     0.01        0        0           0
16274     Sports     0.44     0.19     0.03        0.13
16275     Action     0.05     0.05     0.25        0.03
16276   Fighting        0        0     0.16        0.01

[16277 rows x 5 columns]

In [89]:
# 장르 별 NA, EU, JP, OTHER 의 합계를 산정하여 시각화 진행하기 
# 장르 12 가지 ['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation','Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting','Shooter]

array(['Action', 'Adventure', 'Misc', 'Platform', 'Sports', 'Simulation',
       'Racing', 'Role-Playing', 'Puzzle', 'Strategy', 'Fighting',
       'Shooter'], dtype=object)

ValueError: ignored